/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* google font */

/* common css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: middle;
}

body {
  background-color: var(--OffBlack);
  color: var(--White);
  font-family: "Inter", sans-serif;
}

/* common css */

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
  --FontWeightNormal: 400;
  --FontWeightSemiBold: 600;
  --FontWeightBold: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

.card {
  background-color: var(--DarkGrey);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  font-size: 1.5em;
  font-weight: var(--FontWeightBold);
  margin-bottom: 5px;
}

.location {
  color: var(--Green);
  font-weight: var(--FontWeightSemiBold);
  margin-bottom: 15px;
}

.description {
  font-style: italic;
  font-weight: var(--FontWeightNormal);
  margin-bottom: 20px;
}

.social-links button {
  background-color: var(--Grey);
  border: none;
  color: var(--White);
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: var(--FontWeightSemiBold);
}

.social-links button:hover,
.social-links button:focus {
  background-color: var(--Green);
  color: var(--OffBlack); /* Change text color on hover */
  outline: none;
}

/* Media Queries */
@media (min-width: 375px) {
  .card {
    max-width: 375px;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 0;
  }

  .card {
    max-width: 400px;
    padding: 40px;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 2em;
  }

  .social-links button {
    padding: 15px 20px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
